@model Product

<div class="row border">
    <div class="col-4">
        <img src='~/img/@Model.urunResim' alt="" class="img-fluid">
    </div>

    <div class="col-8 border-start p-3">
        <h1>@Model.urunBaslik</h1>

        <p>@Model.urunAciklama</p>

        <p>@Model.urunFiyat</p>

        @if (Model.urunSatistaMi) {
            @if (Model.stokAdeti > 0) {
                <p>Satista</p>
            } else {
                <p>Stok yeterli degil</p>
            }
        } else {
            <p>Satista Degil</p>
        }
    </div>
</div>