<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-danger" data-bs-theme="dark">
            <div class="container">
                <a href="/" class="navbar-brand">App</a>
    
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a asp-controller="Course" asp-action="Index" class="nav-link">Course</a>
                    </li>
    
                    <li class="nav-item">
                        <a asp-controller="Products" asp-action="Index" class="nav-link">Products</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container my-3">
        @RenderBody()
    </main>
</body>
</html>