<div class="col">
    <div class="card">
        <img src="https://placehold.co/600x400" alt="" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">Lorem, ipsum.</h5>

            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, ab.</p>

            <a href="#" class="card-link">Inspect</a>
        </div>
    </div>
</div>