@model Course

<div class="card mb-3">
    <img src="~/img/@Model.Image" alt="" class="card-img-top">

    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>

        <a href="#" class="btn btn-sm btn-secondary">Inspect</a>
    </div>
</div>